
/* scrollbar styling */
.menu::-webkit-scrollbar {
  width: 14px;
}

.menu::-webkit-scrollbar-track {
  background: white;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #FFB238;
  border-radius: 20px;
  border: 3px solid white;
}
